* {
    box-sizing: border-box;
}

h2 {
    position: relative;
    top: 50px;
    text-align: center;
}

.input-group {
    top: 125px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.delivery-address-title {
    position: relative;
    top: 120px;
    text-align: center;
}

.gmail-sync-input {
    margin-right: 10px;
}

.client-address-title {
    position: relative;
    top: 120px;
    text-align: center;
}

#client-address-search {
    margin-top: 20px;
}

.back-button {
    position: relative;
    top: 120px;
    left: 0;
}

.input-group.price {
    display: flex;
    align-items: center;
}

.price-title {
    margin: 0;
}

.contract-generate {
    margin-left: 25px;
}

.main-content {
    padding: 20px;
}

.back-button {
    margin-bottom: 20px;
}

.table-emails {
    margin-top: 20px;
}

.form-send-email {
    margin-top: 20px;
}

.btn-send {
    margin-top: 10px;
}

.email-form {
    margin-top: 110px;
}

.email-title {
    text-align: center;
}

.price {
    display: block;
}

.price-title {
    text-align: center;
}

.email-table-container {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
}
